In [1]:

import pandas as pd
import pickle

# Load the datasets
ingr_map = pd.read_pickle("ingr_map.pkl")
raw_recipes = pd.read_csv("RAW_recipes.csv")
raw_interactions = pd.read_csv("RAW_interactions.csv")
pp_users = pd.read_csv("PP_users.csv")
pp_recipes = pd.read_csv("PP_recipes.csv")
interactions_validation = pd.read_csv("interactions_validation.csv")
interactions_train = pd.read_csv("interactions_train.csv")
interactions_test = pd.read_csv("interactions_test.csv")


# Show some basic information about each dataset
datasets = {
    'ingr_map': ingr_map,
    'raw_recipes': raw_recipes,
    'raw_interactions': raw_interactions,
    'pp_users': pp_users,
    'pp_recipes': pp_recipes,
    'interactions_validation': interactions_validation,
    'interactions_train': interactions_train,
    'interactions_test': interactions_test
}

info_dict = {}

for name, dataset in datasets.items():
    info_dict[name] = {
        'Number of Rows': dataset.shape[0],
        'Number of Columns': dataset.shape[1],
        'Columns': ', '.join(dataset.columns)
    }

info_df = pd.DataFrame(info_dict).T
info_df

,Number of Rows,Number of Columns,Columns
ingr_map,11659,7,"raw_ingr, raw_words, processed, len_proc, repl..."
raw_recipes,231637,12,"name, id, minutes, contributor_id, submitted, ..."
raw_interactions,1132367,5,"user_id, recipe_id, date, rating, review"
pp_users,25076,6,"u, techniques, items, n_items, ratings, n_ratings"
pp_recipes,178265,8,"id, i, name_tokens, ingredient_tokens, steps_t..."
interactions_validation,7023,6,"user_id, recipe_id, date, rating, u, i"
interactions_train,698901,6,"user_id, recipe_id, date, rating, u, i"
interactions_test,12455,6,"user_id, recipe_id, date, rating, u, i"

In [7]:
pp_recipes

,id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids
0,424415,23,"[40480, 37229, 2911, 1019, 249, 6878, 6878, 28...","[[2911, 1019, 249, 6878], [1353], [6953], [153...","[40480, 40482, 21662, 481, 6878, 500, 246, 161...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[389, 7655, 6270, 1527, 3406]"
1,146223,96900,"[40480, 18376, 7056, 246, 1531, 2032, 40481]","[[17918], [25916], [2507, 6444], [8467, 1179],...","[40480, 40482, 729, 2525, 10906, 485, 43, 8393...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[2683, 4969, 800, 5298, 840, 2499, 6632, 7022,..."
2,312329,120056,"[40480, 21044, 16954, 8294, 556, 10837, 40481]","[[5867, 24176], [1353], [6953], [1301, 11332],...","[40480, 40482, 8240, 481, 24176, 296, 1353, 66...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",1,"[1257, 7655, 6270, 590, 5024, 1119, 4883, 6696..."
3,74301,168258,"[40480, 10025, 31156, 40481]","[[1270, 1645, 28447], [21601], [27952, 29471, ...","[40480, 40482, 5539, 21601, 1073, 903, 2324, 4...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[7940, 3609, 7060, 6265, 1170, 6654, 5003, 3561]"
4,76272,109030,"[40480, 17841, 252, 782, 2373, 1641, 2373, 252...","[[1430, 11434], [1430, 17027], [1615, 23, 695,...","[40480, 40482, 14046, 1430, 11434, 488, 17027,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[3484, 6324, 7594, 243]"
...,...,...,...,...,...,...,...,...
178260,323143,76862,"[40480, 6444, 1964, 9369, 486, 569, 17551, 40481]","[[8780], [11835, 1762, 4465, 31494], [6812], [...","[40480, 40482, 729, 2525, 715, 485, 26641, 404...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,"[840, 208, 2499, 2683, 1925, 335, 1511]"
178261,149114,145962,"[40480, 17027, 24715, 974, 11877, 40481]","[[6812], [5940], [30645, 4785, 6821], [6953], ...","[40480, 40482, 729, 2525, 10906, 485, 43, 8393...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[2499, 4717, 1168, 6270, 6324, 7040]"
178262,34200,65066,"[40480, 12187, 11434, 1738, 2627, 40481]","[[6167, 20930, 510], [1353], [15022, 6953], [6...","[40480, 40482, 500, 246, 1719, 5024, 240, 2366...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",2,"[2378, 7655, 3219, 2320, 5168, 5319, 4189, 268..."
178263,30618,77358,"[40480, 870, 488, 1325, 519, 2220, 2417, 488, ...","[[12395, 38308, 40118], [3137, 15022], [30878,...","[40480, 40482, 562, 481, 10734, 240, 23667, 58...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[5627, 2807, 5412, 3399, 7979, 1093, 1257, 780..."
178264,263840,137160,"[40480, 30565, 12316, 1024, 40481]","[[3151, 12486], [2507, 6444], [30565], [17918]...","[40480, 40482, 729, 2525, 10906, 485, 43, 2232...","[1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[6473, 800, 4807, 2683, 335, 1563, 1511, 3248,..."

In [8]:
ingr_map

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
0,"medium heads bibb or red leaf lettuce, washed,...",13,"medium heads bibb or red leaf lettuce, washed,...",73,lettuce,4507,4308
1,mixed baby lettuces and spring greens,6,mixed baby lettuces and spring green,36,lettuce,4507,4308
2,romaine lettuce leaf,3,romaine lettuce leaf,20,lettuce,4507,4308
3,iceberg lettuce leaf,3,iceberg lettuce leaf,20,lettuce,4507,4308
4,red romaine lettuce,3,red romaine lettuce,19,lettuce,4507,4308
...,...,...,...,...,...,...,...
11654,soybeans,1,soybean,7,soybean,31,6702
11655,goose,1,goose,5,goose,8,3318
11656,ajwain,1,ajwain,6,ajwain,13,47
11657,brinjals,1,brinjal,7,brinjal,2,750
11658,khoya,1,khoya,5,khoya,6,4061

In [10]:
interactions_train

           user_id  recipe_id        date  rating      u       i
0             2046       4684  2000-02-25     5.0  22095   44367
1             2046        517  2000-02-25     5.0  22095   87844
2             1773       7435  2000-03-13     5.0  24732  138181
3             1773        278  2000-03-13     4.0  24732   93054
4             2046       3431  2000-04-07     5.0  22095  101723
...            ...        ...         ...     ...    ...     ...
698896      926904     457971  2018-12-18     5.0  13681  141067
698897  2002312797      27208  2018-12-18     5.0  14897   99787
698898     1290903     131607  2018-12-18     5.0  11605   76163
698899      226867     363072  2018-12-18     5.0   3604   29101
698900  2000498330     314535  2018-12-19     5.0   2248   21514

[698901 rows x 6 columns]

In [11]:
raw_interactions

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."
...,...,...,...,...,...
1132362,116593,72730,2003-12-09,0,Another approach is to start making sauce with...
1132363,583662,386618,2009-09-29,5,These were so delicious! My husband and I tru...
1132364,157126,78003,2008-06-23,5,WOW! Sometimes I don't take the time to rate ...
1132365,53932,78003,2009-01-11,4,Very good! I used regular port as well. The ...
1132366,2001868099,78003,2017-12-18,5,I am so glad I googled and found this here. Th...

In [12]:
raw_recipes

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8
...,...,...,...,...,...,...,...,...,...,...,...,...
231632,zydeco soup,486161,60,227978,2012-08-29,"['ham', '60-minutes-or-less', 'time-to-make', ...","[415.2, 26.0, 34.0, 26.0, 44.0, 21.0, 15.0]",7,"['heat oil in a 4-quart dutch oven', 'add cele...",this is a delicious soup that i originally fou...,"['celery', 'onion', 'green sweet pepper', 'gar...",22
231633,zydeco spice mix,493372,5,1500678,2013-01-09,"['15-minutes-or-less', 'time-to-make', 'course...","[14.8, 0.0, 2.0, 58.0, 1.0, 0.0, 1.0]",1,['mix all ingredients together thoroughly'],this spice mix will make your taste buds dance!,"['paprika', 'salt', 'garlic powder', 'onion po...",13
231634,zydeco ya ya deviled eggs,308080,40,37779,2008-06-07,"['60-minutes-or-less', 'time-to-make', 'course...","[59.2, 6.0, 2.0, 3.0, 6.0, 5.0, 0.0]",7,"['in a bowl , combine the mashed yolks and may...","deviled eggs, cajun-style","['hard-cooked eggs', 'mayonnaise', 'dijon must...",8
231635,cookies by design cookies on a stick,298512,29,506822,2008-04-15,"['30-minutes-or-less', 'time-to-make', 'course...","[188.0, 11.0, 57.0, 11.0, 7.0, 21.0, 9.0]",9,['place melted butter in a large mixing bowl a...,"i've heard of the 'cookies by design' company,...","['butter', 'eagle brand condensed milk', 'ligh...",10
231636,cookies by design sugar shortbread cookies,298509,20,506822,2008-04-15,"['30-minutes-or-less', 'time-to-make', 'course...","[174.9, 14.0, 33.0, 4.0, 4.0, 11.0, 6.0]",5,"['whip sugar and shortening in a large bowl , ...","i've heard of the 'cookies by design' company,...","['granulated sugar', 'shortening', 'eggs', 'fl...",7

In [13]:
# Calculate User-based Features
# 1. Average Rating Given by User
user_avg_rating = interactions_train.groupby('user_id')['rating'].mean().reset_index()
user_avg_rating.columns = ['user_id', 'avg_rating_user']

# 2. Number of Recipes Rated by User
user_num_ratings = interactions_train.groupby('user_id')['rating'].count().reset_index()
user_num_ratings.columns = ['user_id', 'num_ratings_user']

# Merge these features into a single user_features DataFrame
user_features = pd.merge(user_avg_rating, user_num_ratings, on='user_id')

# Calculate Recipe-based Features
# 1. Average Rating of Recipe
recipe_avg_rating = interactions_train.groupby('recipe_id')['rating'].mean().reset_index()
recipe_avg_rating.columns = ['recipe_id', 'avg_rating_recipe']

# 2. Number of Ratings Received by Recipe
recipe_num_ratings = interactions_train.groupby('recipe_id')['rating'].count().reset_index()
recipe_num_ratings.columns = ['recipe_id', 'num_ratings_recipe']

# Merge these features into a single recipe_features DataFrame
recipe_features = pd.merge(recipe_avg_rating, recipe_num_ratings, on='recipe_id')

# Show first few rows of user_features and recipe_features
user_features.head(), recipe_features.head()

(   user_id  avg_rating_user  num_ratings_user
 0     1533         4.747826               115
 1     1535         4.476117               649
 2     1634         3.875000                48
 3     1676         4.583333                24
 4     1773         4.500000                 2,
    recipe_id  avg_rating_recipe  num_ratings_recipe
 0         38           4.333333                   3
 1         40           4.800000                   5
 2         45           4.000000                   2
 3         46           5.000000                   2
 4         49           4.000000                  12)

In [14]:
from collections import Counter

# Convert the string representation of tags into a list
raw_recipes['tags'] = raw_recipes['tags'].apply(eval)

# Flatten the list of tags and count the occurrences of each tag
all_tags = [tag for sublist in raw_recipes['tags'].tolist() for tag in sublist]
tag_counts = Counter(all_tags)

# Sort tags by frequency
sorted_tags = sorted(tag_counts.items(), key=lambda x: x[1], reverse=True)

# Show top 30 most frequent tags to identify potential cuisine-related tags
sorted_tags[:30]

[('preparation', 230546),
 ('time-to-make', 225326),
 ('course', 218148),
 ('main-ingredient', 170446),
 ('dietary', 165091),
 ('easy', 126062),
 ('occasion', 114145),
 ('cuisine', 91165),
 ('low-in-something', 85776),
 ('main-dish', 71786),
 ('equipment', 70436),
 ('60-minutes-or-less', 69990),
 ('number-of-servings', 58949),
 ('meat', 56042),
 ('30-minutes-or-less', 55077),
 ('vegetables', 53814),
 ('taste-mood', 52143),
 ('4-hours-or-less', 49497),
 ('north-american', 48479),
 ('3-steps-or-less', 44933),
 ('15-minutes-or-less', 43934),
 ('low-sodium', 43349),
 ('desserts', 43203),
 ('low-carb', 42189),
 ('healthy', 40340),
 ('dinner-party', 37561),
 ('low-cholesterol', 36743),
 ('low-calorie', 36429),
 ('vegetarian', 35651),
 ('beginner-cook', 35561)]

In [15]:
# Filter recipes that have 'cuisine' in their tags
cuisine_recipes = raw_recipes[raw_recipes['tags'].apply(lambda x: 'cuisine' in x)]

# Flatten the list of tags for these recipes and count the occurrences of each tag
cuisine_tags = [tag for sublist in cuisine_recipes['tags'].tolist() for tag in sublist]
cuisine_tag_counts = Counter(cuisine_tags)

# Sort tags by frequency
sorted_cuisine_tags = sorted(cuisine_tag_counts.items(), key=lambda x: x[1], reverse=True)

# Show top 30 most frequent tags within recipes tagged with 'cuisine'
sorted_cuisine_tags[:30]

[('cuisine', 91165),
 ('preparation', 90843),
 ('time-to-make', 89005),
 ('course', 87998),
 ('main-ingredient', 77556),
 ('dietary', 69384),
 ('occasion', 58720),
 ('easy', 50730),
 ('north-american', 48478),
 ('main-dish', 35348),
 ('low-in-something', 34364),
 ('equipment', 33620),
 ('american', 31179),
 ('taste-mood', 30139),
 ('60-minutes-or-less', 28033),
 ('meat', 27278),
 ('vegetables', 26507),
 ('european', 24912),
 ('30-minutes-or-less', 21857),
 ('number-of-servings', 21757),
 ('dinner-party', 21709),
 ('4-hours-or-less', 20865),
 ('vegetarian', 19195),
 ('low-carb', 18236),
 ('holiday-event', 17878),
 ('inexpensive', 17524),
 ('low-sodium', 17104),
 ('beginner-cook', 16158),
 ('healthy', 15609),
 ('3-steps-or-less', 15478)]

In [17]:
# Identify a set of tags that are indicative of cuisines
cuisine_tags_set = {'north-american', 'american', 'european', 'asian', 'mexican', 'italian', 'french', 'indian', 'chinese', 'japanese'}

# Filter the raw_recipes to only include recipes with these cuisine tags
cuisine_filtered_recipes = raw_recipes[raw_recipes['tags'].apply(lambda x: any(tag in x for tag in cuisine_tags_set))]

# Merge this with interactions_train to get user interactions with these cuisine-tagged recipes
user_cuisine_interactions = pd.merge(interactions_train, cuisine_filtered_recipes, left_on='recipe_id', right_on='id', how='inner')

# Initialize an empty dictionary to store user preferences
user_cuisine_preferences = {}


# Create a function to identify cuisine tags in a list of tags
def identify_cuisine_tags(tag_list):
    return [tag for tag in tag_list if tag in cuisine_tags_set]

# Apply the function to the 'tags' column in the user_cuisine_interactions DataFrame
user_cuisine_interactions['cuisine_tags'] = user_cuisine_interactions['tags'].apply(identify_cuisine_tags)

# Unstack the list of cuisine_tags into separate rows
user_cuisine_interactions_unstacked = user_cuisine_interactions.explode('cuisine_tags')

# Calculate the average rating given by each user to each cuisine
user_cuisine_preferences_df = user_cuisine_interactions_unstacked.groupby(['user_id', 'cuisine_tags'])['rating'].mean().reset_index()
user_cuisine_preferences_df.rename(columns={'cuisine_tags': 'cuisine', 'rating': 'avg_rating_for_cuisine'}, inplace=True)

# Show the first few rows of the DataFrame
user_cuisine_preferences_df.head()

   user_id   cuisine  avg_rating_for_cuisine
0     1533  american                4.518519
1     1533     asian                5.000000
2     1533  european                4.727273
3     1533    indian                5.000000
4     1533   italian                5.000000

In [22]:
from scipy.sparse import coo_matrix

# Create a sparse user-item interaction matrix using COO (Coordinate) format
# Map user_id and recipe_id to row and column indices for sparse matrix
user_ids = interactions_train['user_id'].astype('category').cat.codes
recipe_ids = interactions_train['recipe_id'].astype('category').cat.codes

# Create the sparse matrix
sparse_user_item_matrix = coo_matrix((interactions_train['rating'], (user_ids, recipe_ids)))

# Show the shape of the sparse matrix to confirm the operation
sparse_shape = sparse_user_item_matrix.shape
sparse_shape

(25076, 160901)

In [23]:
from sklearn.decomposition import TruncatedSVD

# Initialize Truncated SVD with the number of components as 50
svd = TruncatedSVD(n_components=50, random_state=42)

# Fit and transform the sparse user-item interaction matrix
reduced_matrix = svd.fit_transform(sparse_user_item_matrix)

# Show the shape of reduced matrix to confirm dimensionality reduction
reduced_matrix.shape

(25076, 50)

In [25]:
# Convert the COO matrix to CSR format to support slicing

sparse_user_item_matrix_csr = sparse_user_item_matrix.tocsr()



# Sample a subset of users and items for faster computation

# Sample 10% of users and items

sampled_user_ids = np.random.choice(sparse_user_item_matrix_csr.shape[0], int(sparse_user_item_matrix_csr.shape[0] * 0.1), replace=False)

sampled_item_ids = np.random.choice(sparse_user_item_matrix_csr.shape[1], int(sparse_user_item_matrix_csr.shape[1] * 0.1), replace=False)



# Create a sub-matrix using the sampled indices

sampled_matrix = sparse_user_item_matrix_csr[sampled_user_ids, :][:, sampled_item_ids]



# Show the shape of the sampled matrix to confirm the operation

sampled_matrix.shape

(2507, 16090)

In [28]:
# Import the cosine_similarity function from sklearn
from sklearn.metrics.pairwise import cosine_similarity

# Compute User Similarity using cosine similarity
user_similarity = cosine_similarity(sampled_matrix)

# For demonstration, let's consider k = 5 for the top k similar users
k = 5

# Sort the users by similarity and select top k similar users for each user
top_k_users = np.argsort(user_similarity, axis=1)[:, -k-1:-1][:, ::-1]

# Initialize a matrix to store the predicted ratings
predicted_ratings = np.zeros(sampled_matrix.shape)

# Using a vectorized approach to compute predicted ratings for demonstration
# Here we're using only the diagonal of the similarity matrix to avoid full matrix multiplication for demonstration
predicted_ratings = user_similarity.dot(sampled_matrix.toarray()) / np.abs(user_similarity).sum(axis=1)[:, np.newaxis]

# Show the shape of the predicted ratings matrix to confirm the operation
predicted_ratings.shape

/var/folders/bg/hdj9jw_j33g1vg7x_rmvr9lc0000gn/T/ipykernel_30484/2731776377.py:18: RuntimeWarning: invalid value encountered in divide
  predicted_ratings = user_similarity.dot(sampled_matrix.toarray()) / np.abs(user_similarity).sum(axis=1)[:, np.newaxis]

(2507, 16090)

In [29]:
# Calculate the global mean rating from the original sampled matrix
global_mean_rating = sampled_matrix.sum() / sampled_matrix.count_nonzero()

# Replace NaN values in the predicted ratings matrix with the global mean rating
predicted_ratings[np.isnan(predicted_ratings)] = global_mean_rating

# Check again for NaN values to confirm they've been replaced
np.isnan(predicted_ratings).sum()

0